h2 {
    text-align: center;
}

.records-container {
    overflow: auto;
	max-height: 500px;

    background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
    padding-left: 20px;
}

.totals-container {
    width: 100%;
    text-align: center;
}

.records-list {
    list-style-type: none;
    padding-left: 0px;
}

/* .Taxi {
    color: #919396;
} */

.North {
    background-color: #e8eefc;
}

.Outback {
    background-color: #def2de;
}

.info-label {
    font-size: 60%;
    text-align: right;
    line-height: 2em;
    vertical-align: middle;
}

.time-label {
    font-size: 85%;
    text-align: center;
    padding-bottom: 20px;
    color: darkgrey;
}

.long-row {
    grid-column-start: 2;
    grid-column-end: 5;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

ul li:not(:last-child):after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: lightslategray;
}

.date-picker-container {
    width: 100%;
    text-align: center;
}

.indicator {
    text-align: right;
}

#record-row {
    display: flex;
}

#record-column-0 {
    flex: 5%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    padding: 5px;
    color: gray;
}

#record-column-1 {
    flex: 90%;
    padding-top: 10px
}

#record-column-1 div:hover {
    color: dodgerblue;
}

#record-column-2 {
    flex: 5%;
}
