<h2>Records</h2>

<div class="date-picker-container">
  <mat-form-field>
    <input matInput [matDatepicker]="recordsDatePicker" 
    placeholder="Choose a date" [(ngModel)]="date"
    (dateChange)="onDateChanged()">
    <mat-datepicker-toggle matSuffix [for]="recordsDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #recordsDatePicker></mat-datepicker>
  </mat-form-field>
</div>

<div *ngIf="records; else noRecords" class="records-container">
  <ul class="records-list">
    <li *ngFor="let record of records"
    [ngClass]="[record.type, record.peak]"
    (click)="onRecordClick(record)">
      <div class="grid-container">
          <span class="info-label">Name</span>{{record.name}}
          <span class="info-label">Sex</span>{{record.sex}}
          <span class="info-label">Gear</span>{{record.gear}}
          <span class="info-label">Clothing</span>{{record.topColor}}/{{record.bottomColor}}
          
          <span class="info-label">Complaint</span><span class="long-row">{{record.chiefComplaint}}</span>
          <span class="info-label">Location</span><span class="long-row">{{record.location}}</span>
          <span class="info-label">Patroller</span><span>{{ patrollers | patrollerFilter: record.respondingPatrollerId }}</span><div></div><div *ngIf="record.hasSecondaryInfo" class="indicator"><b>*more info</b></div>
      </div>
      <div class="time-label">{{record.timeReported | date: 'medium'}}</div>
    </li>
  </ul>
</div>

<div class="totals-container">
    <p>Today's totals: <b>{{ total1050s }} 10-50's</b> and <b>{{ totalTaxis }} taxis</b>.</p>
</div>

<ng-template #noRecords>
  <p>No records.</p>
</ng-template>
