.title-container {
    width: 100%;
    text-align: center;
}

.table-container {
    width: 100%;
}

table {
    border: 1px solid;
    margin: 25px auto;
}

.patroller-cells {
    width: 140px;
}

th {
    padding: 5px;
}

td {
    padding: 5px;
}

.centered-container {
    width: 100%;
    text-align: center;
}

.opening-text {
    text-align: center;
}

.closing-header-text {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.notes-input {
    width: 200px;
    height: 20px;
}

.radio-group-container {
    width: 100%;
    text-align: center;
}

.radio {
    margin-right: 10px;
}

mat-slide-toggle {
    padding-top: 25px;
}
