<div class="container">

  <div class="group">
    <input type="text" required [(ngModel)]="record.name">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Name</label>
  </div>


  <label> Gear
    <select>
      <option *ngFor="let name of options" [value]="name"></option>
    </select>
  </label>

  <div class="group">
    <input type="text" required [(ngModel)]="record.chiefComplaint">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Chief Complaint</label>
  </div>
</div>