h2 {
  text-align: center;
}

.container {
  padding: 10px;
}

.name {
  width: 120px;
  padding: 2px 10px 2px 0px
}

.equipment {
  width: 100%;
}

.top-clothing {
  width: 110px;
}

.bottom-clothing {
  width: 140px;
}

.over-text {
  padding-right: 8px;
}

.complaint {
  width: 100%;
}

.location {
  width: 100%;
}

.patroller {
  width: 100%;
}

.button-container {
  width: 100%;
  text-align: center;
}

.submit-button {
  text-transform: uppercase;
}
