h2 {
    text-align: center;
}

#container {
    padding: 25px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

table {
    width: 100%;
}

#header {
    display: flex;
}

.hover-buttons {
    opacity: 0;
}

.hoverable:hover .hover-buttons {
    opacity: 1;
}

.mat-header-cell {
    padding: 8px 8px 8px 0;
}

.mat-cell {
    padding: 8px 8px 8px 0;
}
