<h2>Menu</h2>
<div id="border-line"></div>
<ul class="side-menu">
  <li class="clickable">
    <a routerLink="/dispatch" (click)="linkClicked()" id="dashboardSideMenuLink">Dispatch</a>
  </li>
  <div id="border-line"></div>
  <li>Openings</li>
  <ul class="sub-side-menu">
    <li *ngFor="let peak of peaks" class="clickable">
      <a routerLink="/daily/openings/{{ peak.value }}" (click)="linkClicked()">{{ peak.name }}</a>
    </li>
  </ul>
  <div id="border-line"></div>
  <li>Closings</li>
  <ul class="sub-side-menu">
    <li *ngFor="let peak of peaks" class="clickable">
      <a routerLink="/daily/closings/{{ peak.value }}" (click)="linkClicked()">{{ peak.name }}</a>
    </li>
  </ul>
  <div id="border-line"></div>
  <li>Worksheets</li>
  <ul class="sub-side-menu">
    <li *ngFor="let worksheet of worksheets">{{ worksheet }}</li>
  </ul>
  <div id="border-line"></div>
  <div class="user-info">
    <h6>Logged in as:</h6>  
    <h5>{{ currentUserEmail }}</h5>
    <button mat-raised-button (click)="logoutClicked()">Logout</button>
  </div>
</ul>
