.title-text {
    text-align: center;
    color: #D32F2F !important;
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
    width: 87%;
}

* {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: darkslategray;
}

mat-icon {
    font-family: 'Material Icons' !important;
    vertical-align: middle;
}

.site-header {
    width: 100%;
    display: flex;
}

.header-element {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.header-button-start {
    justify-content: flex-start;
}

.header-button-end {
    justify-content: flex-end;
}

footer {
    padding: 20px;
}
