h2 {
    text-align: center;
}

#container {
    padding-right: 10px;
}

.notes-top-bar {
    display: inline-block;
}

#new-note-entry {
    width: 80%;
}

.delete-note-button {
    opacity: 0;
}

li:hover .delete-note-button {
    opacity: 1;
}

ul {
    list-style-type: none;
    padding-left: 10px;
}

li {
    padding-bottom: 8px;
}

.note-grid {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.time-period-span {
    float: right;
}

.notes-subsection-title {
    font-size: 90%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.notes-list {
    margin-top: 5px;
    margin-bottom: 5px;
}

.notes-container {
    padding-bottom: 15px;
}

.no-notes-text {
    padding-left: 15px;
}
