h2 {
    text-align: center;
}

#container {
    padding-right: 10px;
}
#list-container {
    max-height: 500px;
    overflow: auto;

    background:
		/* Shadow covers */
		linear-gradient(rgb(250, 250, 250), rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), rgb(250, 250, 250)) 0 100%,
		
		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
}

.notes-top-bar {
    display: inline-block;
}

#new-note-entry {
    width: 80%;
}

.delete-note-button {
    opacity: 0;
}

li:hover .delete-note-button {
    opacity: 1;
}

ul {
    list-style-type: none;
    padding-left: 10px;
}

li {
    padding-bottom: 8px;
}

.note-grid {
    display: grid;
    grid-template-columns: 1fr 10fr 3fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.time-period-span {
    float: right;
}

.notes-subsection-title {
    font-size: 90%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.notes-list {
    margin-top: 5px;
    margin-bottom: 5px;
}

.notes-container {
    padding-bottom: 15px;
}

.no-notes-text {
    padding-left: 15px;
}

#completed-note-text {
    color: gray;
    text-decoration: line-through;
}

#completed-note-inits {
    color: gray;
    font-size: small;
}
