<h2>Records</h2>

<div *ngIf="records; else noRecords" class="records-container">
  <ul class="records-list">
    <li *ngFor="let record of records">
      <div class="grid-container">
          <span class="info-label">Name</span>{{record.name}}
          <span class="info-label">Sex</span>{{record.sex}}
          <span class="info-label">Gear</span>{{record.gear}}
          <span class="info-label">Clothing</span>{{record.topColor}}/{{record.bottomColor}}
          
          <span class="info-label">Complaint</span><span class="long-row">{{record.chiefComplaint}}</span>
          <span class="info-label">Location</span><span class="long-row">{{record.location}}</span>
      </div>
      <div class="time-label">{{record.timeReported | date: 'medium'}}</div>
    </li>
  </ul>  
</div>

<ng-template #noRecords>
  <p>No records.</p>
</ng-template>
