h2 {
    text-align: center;
}

.records-container {
    overflow: auto;
	max-height: 400px;
	margin: 50px auto;

    background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
	
	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}

.records-list {
    list-style-type: none;
}

.records-list li:hover {
    color: #607D8B;
    background-color: #DDD;
  }

.info-label {
    font-size: 60%;
    text-align: right;
    line-height: 2em;
    vertical-align: middle;
}

.time-label {
    font-size: 60%;
    text-align: center;
    padding-bottom: 20px;
    color: darkgrey;
}

.long-row {
    grid-column-start: 2;
    grid-column-end: 5;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

ul li:not(:last-child):after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: lightslategray;
}
