<div class="title-container">
  <h2>{{ peakName }} Sweeps</h2>
  <mat-form-field>
    <input matInput [matDatepicker]="closingsDatePicker" 
    placeholder="Choose a date" [(ngModel)]="date"
    (dateChange)="onDateChanged()">
    <mat-datepicker-toggle matSuffix [for]="closingsDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #closingsDatePicker></mat-datepicker>
  </mat-form-field>
</div>

<div class="radio-group-container">
  <mat-radio-group [(ngModel)]="typeOfFrontsideSweeps" name="type" class="radio-group" 
  *ngIf="isFrontside()" layout="row">
    <mat-radio-button value="Day" class="radio" (change)="onRadioChange($event)">Day</mat-radio-button>
    <mat-radio-button value="Night" class="radio" (change)="onRadioChange($event)">Night</mat-radio-button>
  </mat-radio-group>
</div>

<div class="table-container">
  <table align="center" [style.border-color]="hasUnsubmittedChanges ? 'red' : 'black'">
    <tr>
      <th>Closing</th>
      <th>Patroller</th>
      <th>Notes</th>
    </tr>
    <tr *ngFor="let closing of combinationClosings">
      <td>
        <div *ngIf="closing.header">
          <div class="closing-header-text">{{ closing.text }}</div>
        </div>
        <div *ngIf="!closing.header" class="closing-text">{{ closing.text }}</div>
      </td>
      <td class="patroller-cells">
        <mat-select *ngIf="!closing.header" [disabled]="!canEdit()" placeholder="Patroller"
        [(ngModel)]="closing.patrollerId" name="patroller" (selectionChange)="onValueChanged()">
          <mat-option *ngFor="let patroller of patrollers" [value]="patroller.id">
            {{ patroller.name }}
          </mat-option>
        </mat-select>
      </td>
      <td>
        <textarea *ngIf="!closing.header" class="notes-input" 
        matInput placeholder="..." [(ngModel)]="closing.notes" (change)="onValueChanged()"></textarea>
      </td>
    </tr>
  </table>
</div>

<div class="button-container" *ngIf="canEdit()">
  <button mat-raised-button class="submit-button" id="submitRecordButton"
  color="primary" (click)="onSubmitButtonClicked()">Submit</button>
  <button mat-raised-button color="gray" 
  (click)="onClearButtonClicked()">Clear</button>
</div>