h2 {
  text-align: center;
}

#record-detail-container {
  padding: 10px;
}

.radio {
  margin-right: 10px;
}

.name {
  width: 160px;
  padding: 15px 10px 2px 0px
}

.full-width {
  width: 100%;
}

.top-clothing {
  width: 110px;
}

.bottom-clothing {
  width: 140px;
}

.over-text {
  padding-right: 8px;
}

.complaint {
  display: flex;
}

.location {
  width: 100%;
}

#patroller-ai-group {
  width: 100%;
  display: table;
}

#patroller-dropdown {
  width: 100%;
  display: table-cell;
}

#ai-checkbox {
  padding-left: 15px;
}

.radio-group-container {
  width: 100%;
  text-align: center;
}

.button-container {
  width: 100%;
  text-align: center
}

button {
  margin: 5px;
}
